<ng-template #nu><ion-col>NA</ion-col></ng-template>
<ion-header>

  <ion-navbar>
    <ion-title>Sport Psychology</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button ion-button (click)="export()">Descargar</button>

  <h1 *ngIf="!login">INVALIDO INICIO DE SESION</h1>
  <h4 *ngIf="!login">POR FAVOR INGRESE NUEVAMENTE PARA VER LOS DATOS</h4>
  <ion-grid *ngIf="login">
    <ion-row class="ion-align-items-center">
      <!-- 15 elementos -->
      <ion-col style="background-color: rgb(63, 141, 63)">Fecha</ion-col>
      <ion-col style="background-color: rgb(63, 141, 63)">Tiempo(min)</ion-col>
      <ion-col style="background-color: rgb(63, 141, 63)">Doc-id</ion-col>
      <ion-col style="background-color: rgb(63, 141, 63)">Nombre</ion-col>
      <ion-col style="background-color: rgb(63, 141, 63)">Edad</ion-col>
      <ion-col style="background-color: rgb(63, 141, 63)">Genero</ion-col>
      <ion-col style="background-color: rgb(63, 141, 63)">Facultad</ion-col>
      <ion-col style="background-color: rgb(63, 141, 63)" >Carrera</ion-col>
      <ion-col style="background-color: rgb(63, 141, 63)">Estatura</ion-col>
      <ion-col style="background-color: rgb(63, 141, 63)">Peso</ion-col>
      <ion-col style="background-color: rgb(63, 141, 63)">Distancia</ion-col>
      <ion-col style="background-color: rgb(63, 141, 63)">Pasos</ion-col>
      <ion-col style="background-color: rgb(63, 141, 63)">Velocidad Promedio</ion-col>
      <ion-col style="background-color: rgb(63, 141, 63)">Altitud</ion-col>
      <ion-col style="background-color: rgb(63, 141, 63)">Tipo Actividad</ion-col>
    </ion-row>
    <ion-row *ngFor="let p of actividades">
        <ion-col *ngIf="p.value.Fecha" style="background-color:rgb(208, 243, 208)"><p wrapper>{{p.value.Fecha}}</p></ion-col>
        <ion-col *ngIf="p.value.Tiempo"><p>{{p.value.Tiempo}}</p></ion-col>
        <ion-col *ngIf="relationed && p.value.persona && p.value.persona.cedula"style="background-color:rgb(208, 243, 208)"><p>{{p.value.persona.cedula}}</p></ion-col>
        <ion-col *ngIf="relationed && p.value.persona && p.value.persona.nombres && p.value.persona.apellidos"><p>{{p.value.persona.nombres}} {{p.value.persona.apellidos}}</p></ion-col>
        <ion-col *ngIf="relationed && p.value.persona && p.value.persona.edad"style="background-color:rgb(208, 243, 208)"><p>{{p.value.persona.edad}}</p></ion-col>
        <ion-col *ngIf="relationed && p.value.persona && p.value.persona.genero"><p>{{p.value.persona.genero}}</p></ion-col>
        <ion-col *ngIf="relationed && p.value.persona && p.value.persona.facultad"style="background-color:rgb(208, 243, 208)"><p>{{p.value.persona.facultad}}</p></ion-col>
        <ion-col *ngIf="relationed && p.value.persona && p.value.persona.carrera"><p>{{p.value.persona.carrera}}</p></ion-col>
        <ion-col *ngIf="relationed && p.value.persona && p.value.persona.altura"style="background-color:rgb(208, 243, 208)"><p>{{p.value.persona.altura}}</p></ion-col>
        <ion-col *ngIf="relationed && p.value.persona && p.value.persona.peso"><p>{{p.value.persona.peso}}</p></ion-col>
        <ion-col *ngIf="p.value.distancia != null"style="background-color:rgb(208, 243, 208)"><p>{{p.value.distancia}}</p></ion-col>
        <ion-col *ngIf="p.value.pasos != null"><p>{{p.value.pasos}}</p> </ion-col>
        <ion-col *ngIf="p.value.velocidad != null"style="background-color:rgb(208, 243, 208)"><p>{{p.value.velocidad}}</p></ion-col>
        <ion-col *ngIf="p.value.altitud != null"><p>{{p.value.altitud}}</p></ion-col>
        <ion-col *ngIf="p.value.tipo_actividad"style="background-color:rgb(208, 243, 208)"><p>{{p.value.tipo_actividad}}</p></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
