page-home {
    h1{
        width:fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    h4{
        width:fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    ion-row{
    }
    .col{
        max-width: 6.5%!important;
        min-width: 6.5%!important;
    }
    ion-col{
        margin: 1px!important;
        border: 1px solid color($colors,primary);
        max-width: 6.5%;
        min-width: 6.5%;
        
        p{
            min-width: 100%;
            white-space: initial;
            max-width: 100%;
        }
    }
}
