.toast-success {
    > div{
         background-color:#32db64!important;
     }
  }
  
  .toast-failed {
    > div{
         background-color:#f53d3d !important;
     }
  }

  .start_button{
    border-radius: 25px;
    transition-duration: 0.4s;
    background-color: color($colors,orange);
    color: white; 
    font-size: 1.6rem;
    font-weight: bold;
    display: block;
    text-align: center; 
    margin: auto;
    padding: 15px 25px;
    margin-top: 20px;
    width: 50%;
  }

  .start_button:hover {
    background-color: rgba(255,255,255,0.6)!important;
    color: color($colors,orange);
    box-shadow: 0px 0px 1px 1px color($colors,orange);
}